{% if products %}
    {% for product in products %}
    <div class="flex-item">
        <div class="card h-100 p-3 product-item" data-id="{{ product.product_id }}">
            <div class="food">
                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="plate img-responsive">
            </div>
            <div class="name">{{ product.name }}</div>
            <div class="cook">{{ product.model }}</div>
            <div class="price">{{ product.price }}</div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p class="text-muted">No products found</p>
{% endif %}